<h1>We want Half-Life λ&sup3; now!</h1>
<form id="petition-form" method="POST" onsubmit="">
    {{!-- <div id="first-container" class="input-container">
        <label for="first">First Name</label>
        <input id="first" type="text" name="first" value={{first}} />
    </div>
    <div id="last-container" class="input-container">
        <label for="last">Last Name</label>
        <input id="last" type="text" name="last" value={{last}} />
    </div> --}}
    {{!-- <div>
        <h2>{{first}} {{last}}</h2>
    </div> --}}
    <div id="signature-container">
        <label for="signature">Your Signature</label>
        <input id="signature" type="hidden" name="signature" />
    </div>
    <div id="canvas-container">
        <canvas id="signature-canvas"></canvas>
        <button id="clear-button" type="button">clear</button>
    </div>
    <input type="hidden" name="_csrf" value={{csrfToken}} />
</form>

<button id="submit-button" form="petition-form">Submit</button>