<div id="signers">
    <ul>
        {{#each signers}}
            <li>
                {{#if this.url}}
                    <a href="//{{this.url}}" target="_blank">
                        {{this.first}}
                        {{this.last}}
                    </a>
                {{else}}
                    {{this.first}}
                    {{this.last}}
                {{/if}}
                {{this.age}}
                <a href="/signers/{{this.city}}">{{this.city}}</a>
            </li>
        {{/each}}
        <li id="crowbar">Here's a Crowbar</li>
    </ul>
    <h3>Thank you!</h3>
</div>