<div id="signers">
    <ul>
        {{#each signers}}
            <li class="off">
                {{#if this.url}}
                    <a href="//{{this.url}}" target="_blank">
                        {{this.first}}
                        {{this.last}}
                    </a>
                {{else}}
                    <p>{{this.first}} {{this.last}}</p>
                {{/if}}
                <p>{{this.age}}</p>
                <a href="/signers/{{this.city}}">{{this.city}}</a>
            </li>
        {{/each}}
        <li id="crowbar" class="off">Here's a Crowbar</li>
    </ul>
    <h3>Thank you!</h3>
</div>